body {
  background-color: #d7f0f1b9;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

p {
  font-family: 'Trebuchet MS';
  text-align: justify;
  font-size: 20px;
}

#title {
  text-align: center;
  margin-top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title h1 {
  font-size: 32px;
}

#intro {
  text-align: justify;
  margin: 20px;
}

#remote {
  display: flex;
  align-items: center;
}

#remote-svg {
  flex-shrink: 0;
  margin-right: 10px;
  margin: auto;
  text-align: center;
}

#remote p {
  flex-grow: 1;
}

/* salary */
#salary {
  display: flex;
  align-items: center;
}

#salary-svg {
  flex-shrink: 0;
  margin-right: 10px;
  margin: auto;
  text-align: center;
}

#salary p {
  flex-grow: 1;
}
